@import "tailwindcss";
@import "./theme.css";
@import "./prism.css";

@plugin "@tailwindcss/typography";

* {
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

html,
body {
  color: var(--color-black);
}
